@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}


.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-btwn {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}

.morning {
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #1E0E62;
}

.pt-91 {
    padding-top: 91px;
}

.dec20 {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    color: #15143966;
}

.pt-12 {
    padding-top: 12px;
}

.queenhead {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    color: #1E0E62;
    max-width: 700px;
}

.pt-29 {
    padding-top: 29.8px;
}

.pt-34 {
    padding-top: 34px;
}

.minute {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: left;
    color: #1E0E62;
    max-width: 700px;
}

.perfect {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    color: #1E0E62;
}

.pt-36 {
    padding-top: 36.2px;
}

.method {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    max-width: 700px;
}

.pt-13 {
    padding-top: 13.6px;
}

.pt-52 {
    padding-top: 52.2px;
}

.byhead {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
}

.pt-26 {
    padding-top: 26.4px;
}

.wind {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    max-width: 700px;
}

.pt-16 {
    padding-top: 16px;
}

.natural {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    max-width: 700px;
}

.seen {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    color: #15143966;
    width: 90px;
    height: 26px;
}

.pt-93 {
    padding-top: 93px;
}

.pt-18 {
    padding-top: 18px;
}

.gap-100 {
    gap: 100px;
}

.gap-19 {
    gap: 19px;
}

.head19 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    width: 181px;
    padding-top: 20px;
}

.date19 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    padding-top: 3.6px;
}

.pt-25 {
    padding-top: 25.4px;
}

.head19 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    width: 181px;
    padding-top: 27.4px;
}

.head10 {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    width: 181px;
    padding-top: 27.4px;
}


.date10 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    padding-top: 29.6px;
}

.layout {
    width: 370px;
    height: 186px;
    top: 833px;
    left: 915px;
    border-radius: 10px;
    border: 2px solid #EBEAED;
    margin-top: 45.4px;
}

.news {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #1E0E62;
    padding-left: 32px;
    padding-top: 31.2px;
}

.get {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    padding-left: 30px;
    padding-top: 2px;
}

.sendhead {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: #25DAC5;
    border-radius: 100px;
    width: 80px;
    height: 50px;
    border: 2px solid #25DAC5;
    color: white;
    cursor: pointer;
}


.sendhead:hover {
    background-color: white;
    color: #25DAC5;
}

.emailhead {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #151439;
    background: transparent;
    border-radius: 100px;
    padding-left: 24px;
    height: 50px;
    border: 2px solid #EBEAED;
    outline: none;
}

.pl-30 {
    padding-left: 30px;
}

.pt-18 {
    padding-top: 18.8px;
}

.gap-10 {
    gap: 10px;
}

.pr-100 {
    padding-right: 100px;
}

.most {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    color: #15143966;
    padding-top: 50px;
}

.mt-18 {
    margin-top: 18px;
}

.head14 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    padding-top: 19px;
}


.date14 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    padding-top: 4.6px;
}

.date212 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #15143966;
    padding-top: 6.6px;
}

.head21 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    padding-top: 26.4px;
}

.mt-25 {
    margin-top: 25.4px;
}

.mt-23 {
    margin-top: 23.4px;
}


.head18 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #1E0E62;
    padding-top: 24.4px;
}

.loadhead {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: #E93A7D;
    border-radius: 100px;
    width: 130px;
    height: 40px;
    border: 2px solid #E93A7D;
    color: white;
    cursor: pointer;
    margin-top: 26.4px;
    margin-bottom: 10px;
}

.loadhead:hover {
    background-color: white;
    color: #E93A7D;
}